<h1>New Card</h1>
<%= form_with scope: :card, url: cards_path, local: true do |form| %>
  <p>
    <%= form.label :sarja %><br>
    <%= form.text_field :sarja %>
  </p>

  <p>
    <%= form.label :korttinro %><br>
    <%= form.text_field :korttinro %>
  </p>

  <p>
    <%= form.label :joukkue %><br>
    <%= form.text_field :joukkue %>
  </p>

  <p>
    <%= form.label :nimi %><br>
    <%= form.text_field :nimi %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
