<p>
  <stong>Sarja:</strong>
  <%= @card.sarja %>
</p>

<p>
  <stong>Korttinro:</strong>
  <%= @card.korttinro %>
</p>

<p>
  <stong>Joukkue:</strong>
  <%= @card.joukkue %>
</p>

<p>
  <stong>Nimi:</strong>
  <%= @card.nimi %>
</p>

<p>
  <stong>Omistettu:</strong>
  <%= @card.omistettu %>
</p>
